<template>
  <div>
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item">
          {{ $t('title.tc360App') }}
        </a>
      </div>

      <div class="nav-right">
        <div class="nav-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button" @click="changeLanguage">
                <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span>
                <span>Change language</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </nav>
    <nuxt />
  </div>
</template>

<script>
export default {
  methods: {
    changeLanguage() {
      let lang = this.$i18n.locale === 'en' ? 'ms' : 'en'
      window.localStorage.setItem('language', lang)
      this.$i18n.locale = lang
    }
  }
}
</script>

<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
